@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");

html {
  font-size: 20px;
  color: #000;
  font-family: "Fuzzy Bubbles", cursive;
}

body {
  margin: 0;
  padding: 0;
  background: #e3f2fd;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h1 {
  padding: 20px 0;
  text-align: center;
  background: #2962ff;
  color: white;
  font-family: "Fasthand", cursive;
  font-size: 48px;
  box-shadow: 0 5px 2px #000;
}

h2 {
  margin-bottom: 0px;
  padding-left: 10px;
  text-align: left;
  background: #2979ff;
  color: white;
  font-family: "Fasthand", cursive;
  font-size: 32px;
  box-shadow: 2px 2px 3px #000;
}

h1,
h2 {
  text-shadow: 5px 5px 5px #000;
}

img {
  height: 200px;
  margin: 40px auto 40px;
  display: block;
}

table {
  width: 100%;
  color: #333;
  background: white;
  border-collapse: collapse;
  font-family: "Fuzzy Bubbles", cursive;
}

tr {
  border-bottom: 1px solid #eee;
}

td {
  padding: 5px 0;
}

td:first-child {
  width: 300px;
  padding-left: 10px;
}

p#footer {
  margin-top: 100px;
}

/* .p1 {
  color: darkturquoise;
}

.p2 {
  color: rgb(0, 206, 209);
}

.p3 {
  color: #00ced1;
}

p {
  background-color: darkslategrey;
} */

.font-1 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  text-align: left;
}
.font-2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: oblique;
  line-height: 200%;
  text-align: right;
}
.font-3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.fat-span {
  font-weight: 600;
}

.upper {
  text-transform: uppercase;
  text-decoration: underline;
}

.lower {
  text-transform: lowercase;
  text-decoration: line-through;
}

a:link {
  color: red;
}
a:visited {
  color: #000;
}
a:hover {
  color: green;
}
a:active {
  color: blue;
}

.bg-1 {
  background-color: yellow;
  /* width: 400px; */
  max-width: 300px;
  height: 500px;
  overflow: hidden;
}

.bg-2 {
  background-color: red;
  /* width: 600px; */
  max-width: 200px;
  height: 200px;
  overflow: scroll;
}

.para-1,
.para-2,
.para-3 {
  background-color: yellow;
  border: 5px solid green;
}

.para-1,
.para-3 {
  border-color: red;
  border-style: dotted;
}

.para-2 {
  border-color: green;
}
