.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.about-img {
  width: 40vmin;
  margin: 0 auto;
}

.about-title {
  text-align: center;
  margin: 1rem;
}

@media only screen and (max-width: 786px) {
  .about-img {
    width: 100%;
    margin: 0;
  }

  html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }
}
