.details-container {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.details-title {
  text-align: center;
}

.details-img {
  width: 100%;
}

.details-img-container {
  width: 40%;
  padding: 2rem 2rem 2rem 0;
}

.details-main {
  display: flex;
  flex-direction: row;
}

.details-text {
  box-sizing: border-box;
  width: 60%;
  display: inline-block;
  padding: 2rem;
}

.details-title {
  text-align: left;
}

.details-genre {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.details-genre > div {
  background-color: lightgray;
  color: darkslategrey;
  box-shadow: 0.2rem 0.2rem 0.5rem -0.1rem darkslategray;
  padding: 0.2rem 0.4rem;
  margin: 0.5rem 0.5rem;
  margin-left: 0;
  display: inline-block;
  cursor: default;
}

.details-actors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.details-actors-grid {
  display: flex;
  flex-direction: column;
}

.details-actors-grid .details-actor {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: static;
  padding: 0rem 0.8rem;
  margin: 0;
  box-shadow: none;
  border: 0.05rem solid lightgray;
  border-radius: 0;
}

.details-actors-grid .details-portrait {
  border-radius: 5rem;
  height: 1.5rem;
  width: 1.5rem;
  object-fit: cover;
}

.details-actors-grid .details-name {
  color: black;
  position: static;
  display: inline-block;
  vertical-align: middle;
  text-shadow: none;
  font-weight: 500;
}

.details-actors-grid .details-actor:last-child {
  margin-bottom: 2rem;
}

.details-actor {
  width: 15%;
  box-shadow: 0 0.2rem 0.5rem -0.2rem darkslategray;
  border-radius: 0.5rem;
  margin: 0.5rem;
  position: relative;
  cursor: default;
}

.details-portrait {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.details-name {
  color: #fff;
  position: absolute;
  bottom: 0.2rem;
  margin: 0.8rem;
  box-sizing: border-box;
  text-shadow: 0.1rem 0.1rem darkslategray;
  font-weight: 700;
}

.cast-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cast-display {
  display: flex;
}

.on {
  padding: 0.8rem 1.5rem;
  background-color: dodgerblue;
  border-radius: 0.5rem;
  margin: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem -0.1rem darkslategray;
  cursor: pointer;
}

.off {
  padding: 0.8rem 1.5rem;
  background-color: paleturquoise;
  color: gray;
  border-radius: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}
