html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: lightcyan;
}

nav {
  background-color: darkorange;
}

.dropbtn {
  background-color: darkorange;
  color: white;
  padding: 8px 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: darkorange;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: darkred;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: darkred;
}

p {
  margin: 15px 10px;
}

svg:hover {
  fill: gold;
}

.btn-modal {
  background-color: darkorange;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
}

.btn-modal:hover {
  background-color: darkred;
}

.modal-bg {
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 50%);
  z-index: 1000;
}

.modal-container {
  position: relative;
  min-height: 300px;
  width: 50%;
  background-color: #fff;
  margin: 100px auto;
}

.modal-container > * {
  text-align: center;
  color: gray;
}

.modal-container > h2 {
  padding: 30px;
}

.modal-container > p {
  margin: 0 10px;
}

.modal-container > svg {
  width: 100px;
  display: block;
  margin: 15px auto;
  color: gold;
}

.modal-close {
  position: absolute;
  top: -15px;
  right: -15px;
  color: gray;
  border: 2px solid gray;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  vertical-align: middle;
}

.modal-close:hover {
  background-color: darkred;
  color: #fff;
  border: 2px solid #fff;
}

.modal-none {
  display: none;
}
