html {
  height: 100vh;
}

body {
  min-height: 100vh;
  background-image: url(https://images6.alphacoders.com/407/407406.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html * {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  /* background-color: beige; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0.5rem;
}
