article {
  width: 15rem;
  margin: 0.5rem 0;
  text-align: center;
  box-shadow: 0 0.2rem 0.4rem 0.1rem darkslategray;
  transition: box-shadow 0.1s, transform 0.1s;
  cursor: pointer;
  margin: 0.5rem;
}

article:hover {
  transform: translate(0, -0.5rem);
  box-shadow: 0 0.7rem 0.8rem 0.2rem darkslategray;
}

/* article:last-child {
  margin-right: auto;
} */

.card-img {
  width: 100%;
  margin-bottom: 0.5rem;
  box-shadow: 0 0.1rem 0.2rem 0.05rem darkslategray;
  min-height: 2rem;
}

.rating {
  background-color: dodgerblue;
  color: #fff;
  border-radius: 5rem;
  padding: 0.8rem;
  display: inline-block;
  position: absolute;
  right: 5%;
  bottom: 0rem;
  box-shadow: 0 0 0.3rem 0.1rem lightgray;
  font-weight: 700;
}

.rating-relative {
  position: relative;
}

.card-title {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin-bottom: 0.8rem;
}

.well-rated {
  box-shadow: 0 0.2rem 0.4rem 0.1rem darkgoldenrod;
  background-color: palegoldenrod;
}

.well-rated .card-img {
  box-shadow: 0 0.1rem 0.5rem -0.1rem darkgoldenrod;
}

article:hover.well-rated {
  box-shadow: 0 0.7rem 0.8rem 0.2rem darkgoldenrod;
}
